.profileBlock {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.profileContent {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.profileContent__left {
    width: 100px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.profileContent__right {
    padding-left: 10px;
    flex-grow: 1;
}

.profileContent__ava {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    img{
        display: block;
        max-width: 100%;
    }
}
.profileContent__userData{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 15px;
}
.profileContent__userData:nth-child(odd){
    background-color: #eff1ff;
}

@media all and (max-width: 500px) {
    .profileContent__left {
        width: 100%;
        padding-right: 0;
    }
    .profileContent__right {
        padding-left: 0;
    }
    .profileContent__userData{
        height: auto;
        min-height: 30px;
        padding: 0 15px;
    }
}