.profileBlock {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.profileHeader {
    height: 50px;
    box-shadow: 0 2px 2px rgba(27, 30, 53, 0.7);
    color: #ffffff;
    font-size: 20px;
    background-color: #0c1429;
}

.profileHeader > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.profileHeader__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #7c7a7a;
    line-height: 1;
    padding: 0 15px;
    font-size: 14px;
    transition: all linear 150ms;
    outline: none;
}

.profileHeader__link:hover {
    color: tomato;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.profileContent {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.profileContent__left {
    width: 10%;
    padding-right: 10px;
}

.profileContent__right {
    width: 90%;
    padding-left: 10px;
}

.profileContent__ava {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.profileContent__userData{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 15px;
}
.profileContent__userData:nth-child(odd){
    background-color: #eff1ff;
}