.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: #444444;

    &__row{
        display: flex;

        & > div {
            width: 300px;
            padding: 0 0 0 10px;
        }
    }

    &:nth-child(even) {
        background-color: #F0F8FF;
    }

    &:hover{
        background-color: #cfcfcf;
    }

    .card__interface {
        display: flex;
        width: auto;
        align-self: normal;

        .card__btn{
            color: #444444;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            text-decoration: none;
            font-family: Arial;
            font-size: 14px;


            &:hover{
                background-color: darken(#F0F8FF, 20%);
                color: #ffffff;
            }

            &_del:hover{
                background-color: tomato;
                color: #ffffff;
            }

            &_edit:hover{
                background-color: #66ae65;
                color: #ffffff;
            }

            &.disabled{
                pointer-events: none;
                opacity: 0.4;
            }
        }
    }
}

@media all and (max-width: 1200px) {

    .card__row > div {
        width: 200px;
    }
}

@media all and (max-width: 992px) {

    .card__row > div:nth-child(3) {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .card {
        height: auto;
        min-height: 40px;
    }
    .card__row > div {
        width: 147px;
    }
}

@media all and (max-width: 576px) {

    .card__row > div:nth-child(2) {
        display: none;
    }
}

@media all and (max-width: 400px) {

    .card__row > div {
        width: 134px;
    }
    .card {
        .card__interface {
            .card__btn {
                padding: 0 5px;
                font-size: 12px;
            }
        }
    }
}