.cards {
    padding: 20px 0;
    color: #333333;
}

.cards__interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;

    button{
        font-size: 16px;
        height: 30px;
        margin-right: 5px;
        cursor: pointer;
        color: #ffffff;
        background-color: #5d626f;
        border: none;
        outline: none;
        transition: all linear 150ms;
        line-height: 1;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

        &:hover,
        &.active{
            color: #ffffff;
            background-color: #fa9716;
        }
    }
}
.cards__btn{
    cursor: pointer;
    outline: none;

    &.disabled {
        pointer-events: none;
        background-color: lighten(#5d626f, 20%);
    }
}

.cards__sortBlock {
    display: flex;
    align-items: center;

    .cards__sortTitle {
        margin-right: 10px;
    }

    .cards__sortBtns {
        display: flex;
        align-items: center;
    }
}

.cardsTable{

    &__header{
        display: flex;
        height: 40px;
        background-color: #5d626f;
        color: #ffffff;

        &>div{
            width: 300px;
            padding: 0 0 0 10px;
            height: 100%;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                border-right: 1px solid #ffffff;
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .cards__interface{
        flex-wrap: wrap;
    }
    .cardsTable__header > div {
        width: 200px;
    }
}
@media all and (max-width: 992px) {

    .cardsTable__header > div:nth-child(3) {
        display: none;
    }
}
@media all and (max-width: 768px) {

    .cards__sortBlock{
        margin: 15px 0 0 0;
    }
    .cardsTable__header > div {
        width: 147px;
    }
}
@media all and (max-width: 576px) {

    .cardsTable__header > div:nth-child(2) {
        display: none;
    }
}
@media all and (max-width: 500px) {

    .cards__interface > button {
        width: 100%;
        margin-bottom: 15px;
    }
}
@media all and (max-width: 450px) {
    .cards__sortBlock {
        flex-wrap: wrap;
        width: 100%;
    }
    .cards__sortTitle {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .cards__sortBtns {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media all and (max-width: 400px) {
    .cardsTable__header > div {
        width: 134px;
    }
}
